src/Util/WebServiceClient/BookServiceImplPortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://WebService.Util/" xmlns:tns="http://WebService.Util/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getBookDetailJson" type="tns:getBookDetailJson"/>

  <xs:element name="getBookDetailJsonResponse" type="tns:getBookDetailJsonResponse"/>

  <xs:complexType name="getBookDetailJson">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookDetailJsonResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

